body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
}

.row {
  flex: 1;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.flex {
  padding: 0;
}

/*********************************************
NAV
*********************************************/
nav h1 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-right: 6rem;
  color: #585858;
  margin: 1rem 1rem 3rem;
}

.navbar {
  justify-content: end;
}

.navbar-toggler {
  border: none;
}

.google {
  width: 95px;
  height: 70px;
}

.navbar-brand {
  padding: 0;
}

/*********************************************
HERO
*********************************************/

.hero-title {
  background:  -webkit-linear-gradient(to bottom, rgba(218, 218, 218, 0.5), rgba(39, 64, 70, 0.5));
  background-image: linear-gradient(to bottom, rgba(206, 206, 206, 0.1), rgba(54, 41, 50, 0.5)), url(../img/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  padding: 6em 4em;
  color: #fff;
}

.hero p {
  font-size: 1.12rem;
  font-weight: 500;
}

p.date {
  font-size: .97rem;
  margin: 0;
  font-weight: 400;
}

/*********************************************
MAIN
*********************************************/
.card {
  flex-direction: row;
  padding: 0.8rem 0 0 0.8rem;
  margin: 1% 0;
}

.card-body {
  padding: 0 0.5rem 0.5rem 0.7rem;
}

.card-text {
  margin-bottom: 0.8rem;
  font-weight: 500;
  line-height: 23px;
  color: #888;
}

.card-body .date {
  font-size: 0.9rem;
  color: #888;
  margin-top: 1.6rem;
}

img.card-img-top {
  width: 35%;
  height: 90px;
  object-fit: cover;
}

/*********************************************
SUB MAIN
*********************************************/
.sub-hero {
  background:  -webkit-linear-gradient(to bottom, rgba(218, 218, 218, 0.5), rgba(39, 64, 70, 0.5));
  background-image: linear-gradient(to bottom, rgba(206, 206, 206, 0.1), rgba(54, 41, 50, 0.5)), url(../img/sub-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  padding: 6em 4em;
  color: #fff;
}

/*********************************************
RESOURCES
*********************************************/
.resources.row {
  text-align: left;
  padding: 3rem 0 2rem 0;
  margin: 2rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.resources > div {
  padding-left: 15px;
  padding-right: 15px;
}

.resources h4{
  color: #777;
  margin-bottom: 1.8rem;
}

.resources h5 {
  margin-top: 1.8rem;
  margin-bottom: 1.4rem;
  color: #777;
}

.resources ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resources ul li {
  margin-top: 0.6rem;
  font-weight: 500;
}

.resources ul li a {
  color: #3367d6;
}

.resources ul li a:hover {
  color: #7aa0f3;
}

.center {
  display: block;
  margin: 1rem auto 2rem;
  background-color: #3367d6;
}

/*********************************************
MARKETERS
*********************************************/
.marketers .card-body .card-text {
  font-size: 0.9rem;
}

.link-btns .open {
  display: inline-block;
  font-weight: bold;
  margin-right: 1rem;
}

.link-btns .learn {
  font-weight: bold;
  color: #777;
}

/*********************************************
FOOTER
*********************************************/
footer {
  background-color: #3367d6;
  color: #fff;
}

.footer-form {
  width: 90%;
  margin: 3rem auto 1rem;
  padding-bottom: 3rem;
}

.footer-form h3 {
  margin-bottom: 2rem;
  font-weight: 400;
}

.footer-form form input {
  background-color: #3367d6;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}

.form-check-label {
  padding: 0;
}

.sign-up {
  font-size: 0.9rem;
}

.subscribe-btn {
  background-color: #fff;
  color: #3367d6;
  padding: 10px 15px;
  font-weight: bold;
}

.google-links {
  padding: 1rem 1rem 2rem;
  border-top: 1px solid #aaa;
  width: 90%;
  margin: auto;
}

.social-links a {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  color: #fff;
  font-size: 0.8rem;
}

.google-links p {
  margin: 1rem 0 1rem 1rem;
}

.social-icons a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin-right: 1rem;
}

/*********************************************
FOOTER
*********************************************/

@media screen and (min-width: 576px) {
  nav h1 {
    font-size: 2.7rem;
    font-weight: 400;
  }

  .container {
    max-width: 628px;
  }

  .hero-title, .sub-hero {
    margin: 1% 0;
  }

  .flex {
    display: flex;
  }

  .hero {
    padding: 0;
  }

  .card {
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin: 2%;
    text-align: center;
    transition: all 0.2s ease-in;
  }

  img.card-img-top {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;;
    object-fit: cover;
  }

  .resources h5 {
    font-size: 2rem;
    font-weight: 400;
  }

.marketers {
      display: flex;
      flex-wrap: wrap;
  }

  .footer-form {
    width: 70%;
  }

  .google-links p {
    margin: 1rem 0 1rem 1rem;
    display: inline-block;
    margin-right: 40%;
  }

  .social-icons {
    display: inline-block;
  }

}

@media screen and (min-width: 768px) {
  .container {
    max-width: 840px;
  }

  .hero-title, .sub-hero {
    margin: 0;
  }

  .card {
    margin: 2%;
  }
  .marketer-header {
    padding-left: .15em;
    margin: 2rem 0;
  }
}

@media screen and (min-width: 991px) {
  .flex-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  div#navbar, .logo-container {
    flex: 0 0 auto;
  }

  div#navbar li a {
    font-weight: 600;
  }

  .navbar {
    background-image: url('../img/nav-bg.jpg');
    height: 430px;
    background-position: 50% 0;
    background-repeat: repeat-x;
    background-size: 86% 100%;
    align-items: baseline;
  }

  .container {
    max-width: 1400px;
  }

  .row {
    margin: 1rem 0;
  }

  .card {
    margin: 0 2%;
  }

  nav h1 {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 40%;
  }

  .navbar-expand-lg .navbar-nav {
    color: #777;
    font-weight: bold;
  }

  .card-body {
    padding: 1rem 1rem 2rem;
  }
  .google-links {
    width: 80%;
  }

  .google-links p {
    margin-right: 70%;
  }

  .social-icons a {
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
  }

  .social-icons a:hover {
    color: #222;
  }

  .footer-form {
    width: 40%;
  }
}
