body {
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}

/*********************************************
HERO
*********************************************/

.hero {
  background:  -webkit-linear-gradient(to bottom, rgba(218, 218, 218, 0.5), rgba(39, 64, 70, 0.5));
  background-image:linear-gradient(to bottom, rgba(218, 218, 218, 0.5), rgba(39, 64, 70, 0.5)), url('../img/main-banner.jpg');
  padding: 3rem 2rem 2rem;
}

.hero p {
  color: #fff;
  font-size: 1.3rem;
}

p.date {
  font-size: 1rem;
}
